<h1>
    <%= title %>
</h1>
<p>Welcome to <%= title %>
</p>

<div class="container">
    <div class="row row-cols-3 g-3">
        <% for(var i=0; i< Products.length; i++){ %>
            <%- include('./Shared/Product',{Product: Products[i]}) %>
        <% } %>
    </div>
</div>    